
.home {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headrContainer {
    width: auto;
    margin-left: 30px;
}

.home .headrContainer h1 {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

.home .headrContainer p {
    margin-top: 15px;
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

.home .headrContainer button {
    background-color: #121619;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 180px;
    text-decoration: none;
    font-size: 20px;
}

.headrContainer button:hover{
    background-color: #07090a;
    cursor: pointer;
    transition: 0.3s ease-in;
}

@media only screen and(max-width: 600px){
    .home {
        justify-content: center;
        align-items: center;
    }
    .headrContainer {
        margin-left: 0;
        border-radius: 10px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #121619;
        color: white;
    }
    .home .headrContainer h1 {
        font-size: 40px;
        height: 30px;
        margin: 15px 0px;
        color: white;
    }
    .home .headrContainer p{
        font-size: 30px;
        color: white;
    }
    .headrContainer button {
        background-color: white;
        color: #121619;
        margin-bottom: 30px;
    }
}