@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto&display=swap');
*{
    padding:0;
    margin:0;
    font-family:'Roboto', sans-serif; ;
}